.pb-float-left{float:left;}
.pb-float-right{float:right;}
.pb-hidden{display:none;}
.pb-overflow{overflow:hidden;}
.pb-relative{position:relative;}
.pb-absolute{position:absolute;}
.pb-inline{display:inline-block; vertical-align:top;}
.pb-block{display:block;}
.pb-clr{zoom:1;}
.pb-clr:after{clear:both;display:block;content:'';}

.yrc-shell, .yrc-shell *{
	box-sizing:border-box;
}
.yrc-shell li {list-style-type: none;}
.yrc-shell a {text-decoration: none;}

.yrc-shell-cover{
	width:100%;
}

.yrc-shell{
	font-family:sans-serif;
	font-size: 16px;
}

.yrc-banner{
	width:100%;
	height:150px;
	background-position: center center !important;
	background-size: cover !important;
}

.yrc-brand{height:150px;}

.yrc-name{
	top: 0px;
	left:15px;
}

.yrc-name img{max-width:88px;}

.yrc-name span{
	display:block;
	font-size:24px;
	font-weight:bold;
}

.yrc-stats{
	right:25px;
	top:0px;
}

.yrc-stats span span{line-height:40px;}

.yrc-video{
	overflow:hidden;
	height:230px;
	margin-bottom:.5em;
}

.yrc-video img{
	-webkit-transition: transform 300ms;
	width:100%;
}

.yrc-video:hover img{
	-webkit-transform: scale(.95);
}

.yrc-video a{
	display:block;
	height:100%;
	text-decoration:none;
}

.yrc-video-meta{
	text-align:left;
	position:relative;
}

.yrc-video-date{
	font-size:.75em;
}

.yrc-name-date{
	width:80%;
	padding:.35em;
}

.yrc-menu{
	margin:.5em 0;
}

.yrc-menu-items li{
	padding:.25em;
	cursor:pointer;
}

.yrc-content{overflow:hidden;}

.yrc-sections{
	-webkit-transition: all 250ms;
	-moz-transition: all 250ms;
	-ms-transition: all 250ms;
	-o-transition: all 250ms;
	transition: all 250ms;
}

.yrc-section {
	overflow:hidden;
	text-align:center;
}

.yrc-sub-section{
	-webkit-transition: margin 1s, height .5s, opacity 500ms;
	-moz-transition: margin 1s, height .5s, opacity 500ms;
	-ms-transition: margin 1s, height .5s, opacity 500ms;
	-o-transition: margin 1s, height .5s, opacity 500ms;
	transition: margin 1s, height .5s, opacity 500ms;
}

.yrc-playlist-item{
	text-align:left;
	margin-bottom:.5em;
	cursor:pointer;
}

.yrc-playlist-item img{
	width:37.5%;
}

.yrc-playlist-meta{
	width:62.5%;
	padding:.35em;
}

.yrc-playlist-meta span{
	white-space:nowrap;
}

.yrc-playlist-meta span{
	font-size:.75em;
}

.yrc-section-action{
	padding:.35em;
	font-size:1.5em;
	margin-bottom:1em;
}

.yrc-section-action span{
	display:inline-block;
}

.yrc-sub-section-name{
	text-align:left;
	width:70%;
}

.yrc-sub-section-collapse{
	width:30%;
	text-align:right;
}

.yrc-sub-section-collapse span{
	padding:0em .5em;
	cursor:pointer;
}

.yrc-button{
	cursor:pointer;
}

.yrc-load-more-button{
	padding:1em;
}

.yrc-video, .yrc-playlist-item, .yrc-thumb{
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.yrc-full-scale.yrc-video, .yrc-full-scale.yrc-playlist-item, .yrc-full-scale.yrc-thumb{
	-webkit-transition: transform 500ms;
	-moz-transition: transform 500ms;
	-ms-transition: transform 500ms;
	-o-transition: transform 500ms;
	transition: transform 500ms;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

@media (max-width:480px){
	.yrc-section-action{
		font-size:1em;
	}
	.yrc-stats{display:none;}
}

.yrc-player{
	width:100%;
	margin-bottom:.5em;
}



.yrc-search{
	text-align:center;
}

.yrc-search form{
	padding:0 0 1.5em 0;
}

.yrc-ratings{width:20%;}
.yrc-video-duration{top:-1.5em;padding:.25em;z-index:10;right:0;}

.pb-row{
	padding:1em;
}

.pb-row{
	margin-bottom:1em;
}

.pb-row-label{
	font-weight:bold;
	line-height:2.25em;
}

.yrc-shell input, .yrc-shell select{
	font-size:1em;
	padding:.5em;
}

.yrc-search button{
	font-size:1.5em;
	padding:.5em;
}

.yrc-sort-uploads{
	top:10px;
	left:0;
	z-index:10;
	background:#fff;
}

.yrc-sort-uploads li{
	padding:.5em;
	cursor:pointer;
}

.yrc-sort-trigger{
	width:0;
	height:0;
	border-left:.5em solid transparent;
	border-right:.5em solid transparent;
	vertical-align:bottom;
	margin:0 0 .25em .25em;
	display:none;
}

.yrc-active .yrc-sort-trigger{
	display:inline-block;
}

.yrc-loading-overlay{
	width:100%;
	min-height:200px;
	opacity:.35;
	pointer-events:none;
}

.yrc-loading-overlay:after{
	content: "Loading...";
	font-size:2em;
	font-weight:bold;
}

.yrc-subscriber{
	right:0;
	z-index:100;
}